<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Game of Life - Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app" class="container">
        <h2>Gra w życie</h2>
        <p>Life, The game of life) – jeden z pierwszych i najbardziej znanych przykładów automatu
            komórkowego, wymyślony w roku 1970 przez brytyjskiego matematyka Johna Conwaya.</p>
        <div>
            <button @click="changeconf" class="btn btn-info">
                <span v-show="showconf == 1">Ukryj konfigurację</span>
                <span v-show="showconf == 0">Pokaż konfigruację</span>
            </button>
        </div>
        <div class=" addb" v-show="showconf">

            <label>Szybkość tworzenia następnego pokolenia <b>{{duration * 100}} ms</b></label>
            <input type="number" v-model="duration" class="form form-control" min="1" /> <br />
            <label>Losowanie pokolenia zerowego - Gęstość (0 - 100) </label>
            <input type="number" v-model="zerosize" class="form form-control" min="1" max="100" /> <br />

            <label>Wybierz kolor Komórek: </label>
            <select v-model="choosecolor" class="form-control">
                <option v-for="c in colors " :value="c">{{c}}</option>
            </select><br />

            <label>Wybierz kolor Tła: </label>
            <select v-model="choosecolor2" class="form-control">
                <option value="white">white</option>
                <option v-for="c in colors " :value="c">{{c}}</option>
            </select><br />

            <label>Czy powinna być widoczna granica między komórkami: </label>
            <input type="checkbox" v-model="addborderCheck" /><br />

            <div v-show="addborderCheck">
                <label>Pokazuj obramowanie komórek które umarły: </label>
                <input type="checkbox" v-model="smallBorder" /><br />
            </div>

        </div>
        <div class="mt10 w100 addb">
            <h4>Tworzenie nowych komórek (Liczba sąsiadów)</h4>
            <label v-for="(c, index) in conf9[0] " :key="index"> {{index}} :
                <input type="checkbox" class="form " value="1" v-model="conf9[0][index]" />&nbsp;
            </label>

            <h4>Pozostaje przy życiu (Liczba sąsiadów)</h4>
            <label v-for="(c, index) in conf9[1] " :key="index"> {{index}} :
                <input type="checkbox" class="form " value="1" v-model="conf9[1][index]" />&nbsp;
            </label>
        </div>

        <div class="mt10 w100">
            <button @click="drawCanva" class="btn btn-info">Twórz nowe pokolenie</button>
            <button :disabled="state==='started'" title="start" @click="start()" v-show="canster">
                <i class="glyphicon glyphicon-play"></i>
            </button>
            <button :disabled="state!=='started'" title="pause" @click="pause()" v-show="canster">
                <i class="glyphicon glyphicon-pause"></i>
            </button>

        </div>
        <p v-show="canster"> Generacja: {{generation}}</p>
        <div id="canvaDiv">
            <canvas ref="canvas" id="myCanvas" width="1600" height="1600"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>

    <script src="main.js"></script>
    <script src="script.js"></script>

</body>

</html>