<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Game of Life - Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div id="app" class="container">
        <h2>Gra w życie</h2>
        <p>Life, The game of life) - jeden z pierwszych i najbardziej znanych przykładów automatu
            komórkowego, wymyślony w roku 1970 przez brytyjskiego matematyka Johna Conwaya.</p>

        <div>
            <button @click="changeconf(1)" class="btn btn-info">
                <span v-show="showconfig[1]==1">Ukryj Galerię</span>
                <span v-show="showconfig[1]==0">Pokaż Galerię</span>
            </button><br />
        </div>
        <div class="mt10 w100" v-show="showconfig[1]">
            <p>Mini galeria prezentująca efekty symulacji</p>
            <div class="head">
                <img :src="selectedImage" alt="foto-big" />
            </div>
            <div class="imagebox">
                <img v-for="(img, index) in  images" :src="img.thumb" alt="foto" @click="changeFoto(index)" />
            </div>
        </div>
        <div class="mt10 w100" v-show="showconfig[1]==0"></div>

        <div>
            <button @click="changeconf(0)" class="btn btn-info">
                <span v-show="showconfig[0] == 1">Ukryj konfigurację</span>
                <span v-show="showconfig[0] == 0">Pokaż konfigruację</span>
            </button>
        </div>
        <div class=" addb" v-show="showconfig[0]">

            <label>Szybkość tworzenia następnego pokolenia <b>{{duration * 100}} ms</b></label>
            <input type="number" v-model="duration" class="form form-control" min="1" /> <br />

            <label>Liczba generacji w jednym kroku </label>
            <input type="number" v-model="numbeOfGenerations" class="form form-control" min="1" max="20" /> <br />

            <label>Losowanie pokolenia zerowego - Gęstość (0 - 100) </label>
            <input type="number" v-model="zerosize" class="form form-control" min="1" max="100" /> <br />

            <label>Wybierz kolor Komórek: </label>
            <select v-model="choosecolors[0]" class="form-control">
                <option v-for="c in colors " :value="c">{{c}}</option>
            </select><br />

            <label>Wybierz kolor Tła: </label>
            <select v-model="choosecolors[1]" class="form-control">
                <option value="white">white</option>
                <option v-for="c in colors " :value="c">{{c}}</option>
            </select><br />

            <label>Wybierz kolor Pomocniczy (Uzywany w różnych konfiguracjach): </label>
            <select v-model="choosecolors[2]" class="form-control">
                <option value="white">white</option>
                <option v-for="c in colors " :value="c">{{c}}</option>
            </select><br />

            <label>Czy powinna być widoczna granica między komórkami: </label>
            <input type="checkbox" v-model="addborderCheck" /><br />

            <div v-show="addborderCheck">
                <label>Użyj koloru pomocniczego do oznaczenia granic żywych komórek: </label>
                <input type="checkbox" v-model="options[0]" @change="refresh()" /><br />
                <label>Użyj koloru pomocniczego do oznaczenia granic martwych komórek: </label>
                <input type="checkbox" v-model="options[1]" @change="refresh()" /><br />
                <div v-show="options[0]">
                    <label> Skala zmian w wyglądzie żywych komórek: </label>
                    <div class="radiobox" v-for="option in [0,2,3,4,5,6]" @change="refresh()">

                        <label :for="option">{{ option }}
                            <input type="radio" v-model="options[3]" :value="option" :id="option">
                        </label>&nbsp;
                    </div>
                    <div v-show="options[3]">
                        <label>Podwój wnętrze komórki: </label>
                        <input type="checkbox" v-model="options[5]" /><br />
                    </div>
                </div>
                <div v-show="options[1]">
                    <label>Losowość wyglądu martwych komórek: </label>
                    <input type="checkbox" v-model="options[2]" /><br />
                </div>

            </div>

        </div>
        <div class="mt10 w100 addb" v-show="tryb == 1">
            <p>Siatka 3x3 - sąsiedztwo Moore'a (Każda komórka ma ośmiu „sąsiadów”)</p>
            <h4>Tworzenie nowych komórek (Liczba sąsiadów)</h4>
            <label v-for="(c, index) in conf9[0] " :key="index"> {{index}} :
                <input type="checkbox" class="form cix" value="1" v-model="conf9[0][index]" />&nbsp;
            </label>

            <h4>Pozostaje przy życiu (Liczba sąsiadów)</h4>
            <label v-for="(c, index) in conf9[1] " :key="index">{{index}} :
                <input type="checkbox" class="form cix" value="1" v-model="conf9[1][index]" />&nbsp;
            </label>

            <h4>Ustaw jedną z najpopularniejszych reguł</h4>
            <select class="form-control" @change="changePattern(1)" v-model="selectpattern">
                <option value="-1">-</option>
                <option v-for="w in patterns" :value="w.id">{{w.name}}</option>
            </select><br />

            <input type="button" class="btn btn-info" value="Losuj Regułę" @click="createRule()" />

        </div>

        <div class="mt10 w100 addb">
            <button @click="changeconf(2)" class="btn btn-info">
                <span v-show="showconfig[2] == 1">Ukryj inne tryby sąsiedztwa</span>
                <span v-show="showconfig[2] == 0">Pokaż inne tryby sąsiedztwa</span>
            </button>
            <div v-show="showconfig[2]">
                <div class="radiobox" v-for="t in trybs">
                    <label>
                        <input type="radio" v-model="tryb" :value="t.id" @change="changeTryb(t.id)">
                        {{t.name}}
                        <img :src="t.img" alt="trybfoto" />
                    </label>&nbsp;
                </div>
                <div v-show="tryb != 1">
                    <h4>Tworzenie nowych komórek (Liczba sąsiadów) </h4>
                    <label v-for="(c, index) in conf16[0] " :key="index" v-show="index <= showfields"> {{index}}
                        :
                        <input type="checkbox" class="form cix" value="1" v-model="conf16[0][index]" />&nbsp;
                    </label>

                    <h4>Pozostaje przy życiu (Liczba sąsiadów)</h4>
                    <label v-for="(c, index) in conf16[1] " :key="index" v-show="index <= showfields">{{index}} :
                        <input type="checkbox" class="form cix" value="1" v-model="conf16[1][index]" />&nbsp;
                    </label>
                    <br />
                    <input type="button" class="btn btn-info" value="Losuj Regułę" @click="createRule16()" />

                    <h4>Ustaw jedną z najpopularniejszych reguł</h4>
                    <select class="form-control" @change="changePattern(2)" v-model="selectpattern2">
                        <option value="-1">-</option>
                        <option v-for="w in patterns" :value="w.id">{{w.name}}</option>
                    </select><br />

                </div>
            </div>
        </div>

        <div class="mt10 w100">
            <h2>Symulacja</h2>
            <button @click="drawCanva" class="btn btn-primary">Twórz nowe pokolenie</button>
            <button @click="oneStep" class="btn btn-primary" v-show="canster">Jeden Krok</button>

            <button :disabled="state==='started'" title="start" @click="start()" v-show="canster">
                <i class="glyphicon glyphicon-play"></i>
            </button>
            <button :disabled="state!=='started'" title="pause" @click="pause()" v-show="canster">
                <i class="glyphicon glyphicon-pause"></i>
            </button>
            <br /><br />
            <button @click="changeconf(3)" class="btn btn-info">
                <span v-show="showconfig[3] == 0">Stwórz własnę generacją początkową</span>
                <span v-show="showconfig[3] == 1">Ukryj tworzenie generacji początkowej</span>
            </button>
            <button @click="setGen0" v-show="showconfig[3] == 1" class="btn btn-info">
                Wstaw komórki
            </button>

        </div>
        <p v-show="canster"> Generacja: {{generation}}</p>

        <div v-show="showconfig[3]">
            <table id="gen0">
                <tr v-for="row in 50" :key="'row-' + row">
                    <td v-for="col in 50" :key="'col-' + col" v-bind:class="{ sil: gen0[row-1][col-1] }"
                        @click="changegen0(row,col)">

                    </td>
                </tr>
            </table>
            <button @click="setGen0" v-show="showconfig[3] == 1" class="btn btn-info mt10">
                Wstaw komórki
            </button>
            <br />
        </div>

        <div id="canvaDiv">
            <canvas ref="canvas" id="myCanvas" width="1600" height="1600"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>

    <script src="main.js"></script>
    <script src="script.js"></script>

</body>

</html>