        .container {
            width: 80%;
            margin: 20px auto 0px auto;
        }


        .addb {
            border: solid 1px #8c8cac;
            padding: 10px;
            border-radius: 10px;
            margin: 10px 0px;
            ;
        }

        #myCanvas {
            border: solid 1px #8c8cac;
        }

        .mt10 {
            margin: 10px 0px;
            float: left;

        }

        .w100 {
            width: 100%;
        }

        .cix {
            margin-right: 5px !important;
            margin-top: 2px !important;
        }

        .radiobox {
            display: inline-block;

        }

        .imagebox img {
            cursor: pointer;
            margin-right: 1px;
            margin-top: 1px;
        }

        .imagebox img:hover {
            opacity: 0.8;
        }

        .tb {
            margin: 50px;
        }

        .tb td {
            width: 20px;
            height: 20px;
            background: silver;
            border: solid 1px #1c1c1c;
            text-align: center;
        }

        .tb td.wh {
            background: white;
        }

        #ss {
            margin-top: 20px;
        }

        #gen0 {
            margin: 15px 0px;
        }

        #gen0 td {
            width: 32px;
            height: 32px;
            background: white;
            border: solid 1px #1c1c1c;
            cursor: pointer;
        }

        #gen0 td.sil {
            background: black;
        }

        .bl {
            background: #a8a8a8;
        }

        .head img {
            width: 100%;
        }

        .big-gallery,
        .small-gallery {
            margin: 10px 0px;
        }

        .big-gallery img {
            width: 100%;
        }

        .showgallery {
            display: block;
        }

        .noshowgallery {
            display: none;
        }

        .small-gallery img {
            cursor: pointer;
            margin-right: 8px;
            border: solid 1px #1c1c1c;
            width: 300px;
            height: 300px;
        }